<div class="container">
    <h1>Enter Ackno to enter deed Information</h1>
    <div class="form-group text-center">
        <div class="col-sm-6 col-sm-push-3" >
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    Ackno:
                </span>

                <input type="text" class="form-control" ng-model="online.ackno" placeholder="Ackno" />

                <span class="input-group-addon ">
                    <button class="btn btn-success btn-xs" data-ng-click="onlineData()">GetData</button>
                    <button class="btn btn-default btn-xs" data-ng-click="cancel()">cancel</button>
                </span>

            </div>
        </div>
      
    </div>
</div>