<form class="form-horizontal css-form " name="Form.deptRegform" ng-novalidate="true">
    <div class="container-fluid">

       <!-- <div class="row" id="topframe">
            <div class="col-sm-12">
                <h1>DataEntryForm</h1>
            </div>
            <div class="form-group text-center" ng-switch="onlinedata">
                <div class="col-sm-6 col-sm-push-3" ng-switch-when="getonline">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            Ackno:
                        </span>

                        <input type="text" class="form-control" ng-model="online.ackno" />

                        <span class="input-group-addon ">
                            <button class="btn btn-success btn-xs" data-ng-click="onlineData()">GetData</button>
                            <button class="btn btn-default btn-xs" data-ng-click="cancel()">cancel</button>
                        </span>

                    </div>
                </div>
                <div class="col-sm-4 col-sm-push-8" ng-switch-when="onlinecancel">
                    <button type="button" class="btn btn-default" data-ng-click="getOnline()">OnlineData</button>
                </div>
            </div>

        </div>-->

        <hr />

        <div class="form-group">
            <label for="TS" class="col-sm-2 control-label ">TS</label>
            <div class="col-sm-3">
                <input type="text" name="TS" data-ng-model="upForm.tsno" class="form-control" placeholder="TsNo" readonly>
            </div>
            <label for="TS" class="col-sm-2 control-label ">TYear</label>
            <div class="col-sm-3">
                <input type="text" name="TYear" data-ng-model="upForm.tsyear" class="form-control" placeholder="TsYear" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li ui-sref-active="active"><a ui-sref="department.content.updateform.deed">DeedDetails</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.updateform.property">PropertyDetails</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.updateform.executant">Executant</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.updateform.claimant">Claimant</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.updateform.identifier">Identifier</a></li>

                </ul>
            </div>

            <!--<tabset justified="true">
                     <tab ng-if="session.OnlineStatus!='online'" heading="DeedDetails" select="$state.go('department.content.updateform.deed')"  active="deedActive"></tab>
                <tab heading="PropertyDetails" select="$state.go('department.content.updateform.property')"  active="propActive" disabled="deptForm.propTabdisabled"></tab>
                <tab heading="Executant" select="$state.go('department.content.updateform.executant')" active="execActive" disabled="deptForm.execTabdisabled"></tab>
                <tab heading="Claimant" select="$state.go('department.content.updateform.claimant')" active="claimActive" disabled="deptForm.claimTabdisabled"></tab>
                <tab heading="Identifier" select="$state.go('department.content.updateform.identifier')" active="identActive" disabled="deptForm.identTabdisabled"></tab>
        </tabset>-->
        </div>
        <div class="text-center" http-loader>
            <img id="mySpinner" src="spinning.gif"  />
        </div>
        
            
            <div ui-view></div>
        <!--</div>-->
    </div>
</form>

    
   
    
