
        
    <div class="jumbotron" id="jumbo">
         <div class="container">
             <div class="row">
                 <div class="col-sm-6">
                     <h1><em>e-Siroi</em></h1>
                     <p class="hidden-xs"><em><small> Interactive Property Registration application</small> </em></p>
                     <p class="hidden-xs">Revenue Department Govt. of Manipur</p>
                 </div>
                 <div class="col-sm-3 pull-right">

                     <img src="images/asasdsa.png" class="img-responsive img-rounded hidden-xs" />

                 </div>
             </div>
           
           
          </div>
         <p class="pull-left visible-xs" style="padding:0">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">SideMenu</button>
          </p>
    </div>   
 

 <div class="container">
     
    <div class="row row-offcanvas row-offcanvas-left ">
         
         <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" >
             <div class="list-group">
                 <a href="" class="list-group-item active" style= "background-color:#9ed172;border-color:#9ed172">Citizen's Service</a>
                 <a ui-active="active" ui-sref="registration.content.apply" class="list-group-item">ApplyRegistration</a>
                 <a href="#sbitem" target="_self" data-toggle="collapse" class="list-group-item">ModelDeeds <span class="caret arrow" style="float:right"></span></a>
                 <div class="collapse list-group-submenu" id="sbitem">
                     <a href="#" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>Gifts</em></a>
                     <a href="../../docs/sale.pdf" target="_blank"class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>Sale</em></a>
                 </div>
                 <a href="#qlink" class="list-group-item" target="_self" data-toggle="collapse">OtherLinks
                     <span class="caret arrow" style="float:right"></span>
                 </a>
                 <div class="collapse list-group-submenu" id="qlink">
                     <a href="http://louchapathap.nic.in" target="_blank" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>LouchaPathap</em></a>
                     <a href="http://manipurrev.nic.in" target="_blank" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>ManipurRev</em></a>
                 </div>
                
                 <a href="#" class="list-group-item">Help</a>
             </div>
        </div>
       
    <div class="col-xs-12 col-sm-9">
        <div style="height: 600px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
              	
      		</div> 
         
  	</div>
</div>  
 
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $('.row-offcanvas').toggleClass('active')
        });
    });
</script>    